<footer class="footer">
    <div class="footer_left">
        <div class="column">
            <p class="title">Abstract</p>
            <ul class="nav">
                <li class="item"><a href="#">Start Trial</a></li>
                <li class="item"><a href="#">Pricing</a></li>
                <li class="item"><a href="#">Download</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="title">Resources</p>
            <ul class="nav">
                <li class="item"><a href="#">Blog</a></li>
                <li class="item"><a href="#">Help Center</a></li>
                <li class="item"><a href="#">Release Notes</a></li>
                <li class="item"><a href="#">Status</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="title">Community</p>
            <ul class="nav">
                <li class="item"><a href="#">Twitter</a></li>
                <li class="item"><a href="#">LinkedIn</a></li>
                <li class="item"><a href="#">Facebook</a></li>
                <li class="item"><a href="#">Dribbble</a></li>
                <li class="item"><a href="#">Podcast</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="title">Company</p>
            <ul class="nav">
                <li class="item"><a href="">About Us</a></li>
                <li class="item"><a href="">Careers</a></li>
                <li class="item"><a href="">Legal</a></li>
            </ul>
            <div>
                <p class="title">Contact Us</p>
                <a href="#">info@abstract.com</a>
            </div>
        </div>
    </div>
    <div class="footer_right">
        <ul class="nav">
            <li>© Copyright 2023</li>
            <li>Abstract Studio Design, Inc.</li>
            <li>All rights reserved</li>
        </ul>
    </div>
</footer>
