.footer{
    background: black;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.footer_left{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.title{
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.nav{
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.nav li a:hover{
    text-decoration: underline;
}

.footer_right{
    align-self: flex-end;
    font-size: 1.3rem;
    margin-top: 10rem;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .footer_left{
        align-items: flex-start;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        width: 100%;
    }

    .footer_right{
        align-self: flex-start;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .footer_left{
        align-items: flex-start;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        width: 100%;
    }

    .footer_right{
        align-self: flex-start;
        margin-top: 3rem;
    }
}