<footer class="footer">
    <div class="left">
        <img class="footer__logo" src="../../assets/img/logo.svg" alt="logo abstract">
        <div class="copy">
            <p>© Copyright 2023</p>
            <p>Abstract Studio Design, Inc.</p>
            <p>All rights reserved</p>
        </div>
    </div>
    <div class="right">
        <div class="column">
            <p class="column__title">Resources</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">Blog</a></li>
                <li class="nav__item"><a [routerLink]="['/home']">Help Center</a></li>
                <li class="nav__item"><a [routerLink]="['/support']">Contact Support</a></li>
                <li class="nav__item"><a href="#">Release Notes</a></li>
                <li class="nav__item"><a href="#">Status</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="column__title">Company</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">About Us</a></li>
                <li class="nav__item"><a href="#">Careers</a></li>
                <li class="nav__item"><a href="#">Legal</a></li>
                <li class="nav__item"><a href="#">Privacy</a></li>
                <li class="nav__item"><a href="#">Website Terms of Use</a></li>
            </ul>
            <p class="column__title">Contact Us</p>
            <ul>
                <li class="nav__item"><a href="#">info@abstract.com</a></li>
            </ul>
        </div>
        <div class="column">
            <p class="column__title">Social</p>
            <ul class="nav">
                <li class="nav__item"><a target="_blank" href="https://www.twitter.com">Twitter</a></li>
                <li class="nav__item"><a target="_blank" href="https://www.linkedin.com">LinkedIn</a></li>
                <li class="nav__item"><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
                <li class="nav__item"><a target="_blank" href="https://www.dribbble.com">Dribbble</a></li>
            </ul>
        </div>
    </div>
    <div class="copy__bottom">
        <p>© Copyright 2023</p>
        <p>Abstract Studio Design, Inc.</p>
        <p>All rights reserved</p>
    </div>
</footer>
