<app-navbar></app-navbar>

<section class="top">
    <h1 class="top__title">Contact Support</h1>
</section>

<section class="main">
    <div class="left">
        <div class="box-yellow">
            <i class="fa-solid fa-asterisk"></i>
            <p>
                Support hours are Monday-Friday 05:00-18:00 Pacific Time. We observe all U.S. holidays.
            </p>
        </div>
        <p class="left__descr">
            Unable to sign in? <a href="#">Reach us here.</a>
        </p>
        <div id="contact" class="item">
            <p class="item__title">Contact support</p>
            <ul class="nav">
                <li class="nav__item">While signed in to Abstract, select the <img src="../../assets/img/Button-help.png" alt="icon help"> icon.
                    <ul class="subnav">
                        <li>
                            If you're in the Abstract web app, the <img src="../../assets/img/Button-help.png" alt="icon help"> icon is in the lower left corner.
                        </li>
                        <li>
                            If you're in the Abstract Desktop app, the <img src="../../assets/img/Button-help.png" alt="icon help"> icon  is in the upper right corner.
                        </li>
                    </ul>
                </li>
                <li class="nav__item">Select <span>Contact Support</span>. </li>
                <li class="nav__item">
                    On the Contact Support page, choose the <span>Topic</span> you want to contact Support about, write a Subject for your message, and enter a <span>Description</span> of your issue.
                </li>
                <li class="nav__item">
                    If you have files you want to give Support, such as bug reports or screenshots, click <span>Browse files...</span> and choose them from your computer.
                </li>
                <li class="nav__item">
                    When you're done, click <span>Send to Support</span>.
                </li>
            </ul>
        </div>
        <div id="ask" class="item">
            <p class="item__title">Ask questions about subscriptions and billing</p>
            <div class="box-yellow">
                <i class="fa-solid fa-asterisk"></i>
                <p>
                    Admins can manage and update billing information on behalf of their Organization directly from the <a href="#">web app</a>, including <a href="#">adding more contributor seats</a>, <a href="#">managing billing details</a>, and <a href="#">locating invoices</a>.
                </p>
            </div>
            <p>
                For security purposes, Support can only assist with billing matters if you are an admin or can provide credit card information to verify your identity. If you want to use card information to verify your identity, you need to provide:
            </p>
            <ul class="nav-disc">
                <li class="nav__item">The name on the credit card on file</li>
                <li class="nav__item">The last four digits of the card number</li>
                <li class="nav__item">The card expiration date</li>
                <li class="nav__item">A screenshot of the last charge that Abstract made to the card</li>
            </ul>
            <p class="item__param">
                If you aren't an admin and can't provide the card information mentioned above, <a href="#">locate your admin</a> within the web or desktop application. Have this person contact Support with your questions.
            </p>
        </div>
        <div id="sales" class="item">
            <p class="item__title">Make a sales inquiry</p>
            <p class="item__param">
                Are you a software reseller? Please <a href="#">get in touch with our Sales Team</a>.
            </p>
            <p class="item__param">
                If you're part of an Enterprise plan and want to discuss an upcoming renewal, please contact your customer success manager directly.
            </p>
        </div>

    </div>
    <!--DERECHA-->
    <div class="right">
        <ul>
            <li><a href="#">Contact support</a></li>
            <li><a href="#">Ask questions about subscriptions and billing</a></li>
            <li><a href="#">Make a sales inquiry</a></li>
        </ul>
    </div>
</section>

<app-footer></app-footer>
