<app-navbar-simple></app-navbar-simple>

<main class="main">
    <div class="top">
        <h2 class="top__title">Copyright Policy</h2>
        <p class="top__date">Last Modified: March 14, 2022</p>
    </div>
    <div class="description">
        <div class="section">
            <h3 class="section__title">Overview</h3>
            <p class="section__paragraph">
                Abstract wants to make sure your copyright-protected works are used appropriately. The Digital Millennium Copyright Act (DMCA) provides information on copyright infringement claims. If you believe your copyright-protected work was shared via Abstract without authorization, please read the entirety of our Copyright Policy prior to submitting a claim.
            </p>
            <p class="section__paragraph">Learn more about the DMCA here: 
                <a class="section__link" target="_blank" href="https://www.copyright.gov/dmca/">
                    https://www.copyright.gov/dmca/
                </a>
            </p>
        </div>
        <div class="section">
            <h3 class="section__title">Fair Use</h3>
            <p class="section__paragraph">
                Fair Use allows for the use of copyrighted works without permission from the copyright holder. Fair Use is determined on a case-by-case basis and considers four primary factors:
            </p>
            <ul class="list">
                <li>Purpose and Character of Use</li>
                <li>Nature of the Copyrighted Work</li>
                <li>
                    Amount and Substantiality of the Portion Used in Relation to the Copyrighted Work as a Whole
                </li>
                <li>
                    Effect of the Use Upon the Potential Market for or Value of the Copyrighted Work
                </li>
            </ul>
            <p>
                Before submitting a copyright complaint, please consider whether or not the use in question could be considered fair use.
            </p>
            <p>
                Learn more about Fair Use here:
                <a class="section__link" target="_blank" href="https://www.copyright.gov/fair-use/">
                    https://www.copyright.gov/fair-use/more-info.html
                </a>
            </p>
        </div>
        <div class="section">
            <h3 class="section__title">Submitting a Copyright Claim</h3>
            <p class="section__paragraph">
                If you believe the use of your copyright-protected work is not Fair Use, you may submit a Copyright Claim directly to Abstract by emailing <a class="section__link" href="legal@abstract.com">legal@abstract.com</a>.
                 In your email, you should include the following information:
            </p>
            <ul class="list">
                <li>
                    A description of the copyrighted work that you claim has been infringed;
                </li>
                <li>
                    A description of the material claimed to be infringing and the location of the material;
                </li>
                <li>
                    Your email address and your mailing address and/or telephone number;
                </li>
                <li>
                    A statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
                </li>
                <li>
                    A statement, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and
                </li>
                <li>
                    An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest.
                </li>
            </ul>
            <p class="section__paragraph">
                If any of the above information is missing, action on your notice maybe delayed.
            </p>
        </div>
        <div class="section">
            <h3 class="section__title">Abstract’s Response</h3>
            <p class="section__paragraph">
                Once Abstract obtains all required information, Abstract will perform investigations into the claim. If the copyright owner has submitted a valid complaint, Abstract will take the following actions:
            </p>
            <ul class="list">
                <li>
                    Remove or disable access to the content identified in the complaint; and
                </li>
                <li>
                    Notify the affected user(s) and provide them with a full copy of the reporter’s complaint (including the provided contact information) along with instructions on how to file a counter-notice.
                </li>
            </ul>
        </div>
        <div class="section">
            <h3 class="section__title">Counter-Notice</h3>
            <p class="section__paragraph">
                Affected users may file a counter-notice in response to the removal, i.e. belief that the material was misidentified or should not have been removed. A counter-notice is a request for Abstract to reinstate the removed material and is the start of a legal process that has legal consequences. If you’re unsure whether or not you should file a counter-notice, you may want to consult an attorney.
            </p>
            <p class="section__paragraph">
                To submit a counter-notice, please respond to Abstract’s original email notification of the removal and include the following information:
            </p>
            <ul class="list">
                <li>
                    Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;
                </li>
                <li>
                    A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled;
                </li>
                <li>
                    Your name, address, and telephone number, and a statement that you consent to the jurisdiction of the Federal District Court for the judicial district in which the address is located, or if your address is outside of the United States, for the judicial district in which Abstract may be found, and that you will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person; and
                </li>
                <li>
                    A physical or electronic signature
                </li>
            </ul>
            <p class="section__paragraph">
                Once a valid counter-notice has been received, Abstract will promptly forward a copy to the person who filed the original notice. This means that the contact information that is submitted in your counter-notice will be shared to the person who filed the original notice.
            </p>
            <p class="section__paragraph">
                If the copyright owner disagrees that the content was removed in error or misidentification, they may pursue legal action against you. There are legal and financial consequences for fraudulent and/or bad faith submissions.
            </p>
        </div>
        <div class="section">
            <h3 class="section__title">Conclusion</h3>
            <p class="section__paragraph">
                Abstract aims to ensure compliance with the DMCA in protecting copyrighted-works and preventing unauthorized use. If you have any further questions regarding our Copyright Policy, please reach out to Abstract at <a class="section__link" href="legal@abstract.com">legal@abstract.com</a>.
            </p>
        </div>
    </div>
</main>

<app-footer-v2></app-footer-v2>
