<app-navbar-simple></app-navbar-simple>

<main class="main">
    <div class="top">
        <h2 class="top__title">Copyright Policy</h2>
        <p class="top__date">Last Modified: March 14, 2022</p>
    </div>
    <div>
        <div>
            <h3>Overview</h3>
            <p>
                Abstract wants to make sure your copyright-protected works are used appropriately. The Digital Millennium Copyright Act (DMCA) provides information on copyright infringement claims. If you believe your copyright-protected work was shared via Abstract without authorization, please read the entirety of our Copyright Policy prior to submitting a claim.
            </p>
            <p>Learn more about the DMCA here: 
                <a target="_blank" href="https://www.copyright.gov/dmca/">
                    https://www.copyright.gov/dmca/
                </a>
            </p>
        </div>
        <div>
            <h3>Fair Use</h3>
            <p>
                Fair Use allows for the use of copyrighted works without permission from the copyright holder. Fair Use is determined on a case-by-case basis and considers four primary factors:
            </p>
            <ul>
                <li>Purpose and Character of Use</li>
                <li>Nature of the Copyrighted Work</li>
                <li>
                    Amount and Substantiality of the Portion Used in Relation to the Copyrighted Work as a Whole
                </li>
                <li>
                    Effect of the Use Upon the Potential Market for or Value of the Copyrighted Work
                </li>
            </ul>
            <p>
                Before submitting a copyright complaint, please consider whether or not the use in question could be considered fair use.
            </p>
            <p>
                Learn more about Fair Use here:
                <a target="_blank" href="https://www.copyright.gov/fair-use/">
                    https://www.copyright.gov/fair-use/more-info.html
                </a>
            </p>
        </div>
        <div>
            <h3>Submitting a Copyright Claim</h3>
            <p>
                If you believe the use of your copyright-protected work is not Fair Use, you may submit a Copyright Claim directly to Abstract by emailing <a href="legal@abstract.com">legal@abstract.com</a>.
                 In your email, you should include the following information:
            </p>
            <ul>
                <li>
                    A description of the copyrighted work that you claim has been infringed;
                </li>
                <li>
                    A description of the material claimed to be infringing and the location of the material;
                </li>
                <li>
                    Your email address and your mailing address and/or telephone number;
                </li>
                <li>
                    A statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
                </li>
                <li>
                    A statement, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf; and
                </li>
                <li>
                    An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest.
                </li>
            </ul>
            <p>
                If any of the above information is missing, action on your notice maybe delayed.
            </p>
        </div>
        <div>
            <h3></h3>
            <p></p>
        </div>
        <div>
            <h3></h3>
            <p></p>
        </div>
        <div>
            <h3></h3>
            <p></p>
        </div>
    </div>
</main>

<app-footer-v2></app-footer-v2>
