<div class="nav">
    <div class="logo">
        <img class="nav-logo" src="../../assets/img/logo.svg" alt="Logo">
        <p class="separator">|</p>
        <a class="nav-link" href="#">Help Center</a>
    </div>
    <div class="icons">
        <i class="search fa-solid fa-magnifying-glass"></i>
        <i class="bars fa-solid fa-bars"></i>
    </div>
    <div class="buttons">
        <button class="btn-submit">Submit a request</button>
        <div class="btn-line"></div>
        <button class="btn-sign">Sign in</button>
    </div>
</div>
