<app-navbar-simple></app-navbar-simple>

<main class="main">
    <div class="legal">
        <h2 class="legal__title">Legal</h2>
        <ul class="nav">
            <li class="nav__item">
                <a href="">Acceptable Use Policy</a>
                <div class="line"></div>
            </li>
            <li class="nav__item">
                <a href="">Copyright Policy</a>
                <div class="line"></div>
            </li>
            <li class="nav__item">
                <a href="">Terms of Use</a>
                <div class="line"></div>
            </li>
            <li class="nav__item">
                <a href="">Data Processing Addendum</a>
                <div class="line"></div>
            </li>
            <li class="nav__item">
                <a href="">Data Transfer Impact Assessment</a>
                <div class="line"></div>
            </li>
            <li class="nav__item">
                <a href="">Trademarks</a>
                <div class="line"></div>
            </li>
        </ul>
    </div>
</main>

<app-footer-v2></app-footer-v2>
