<app-navbar></app-navbar>

<section class="top">
    <h1 class="top__title">Manage organizations, teams, and projects</h1>
    <p class="top__desc">
        Use Abstract organizations, teams, and projects to organize your people and your work.
    </p>
</section>
<section class="list">
    <div class="item">
        <h2 class="item__title">Manage your organization</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">How to create a new organization (for existing users)</a></li>
            <li class="nav__item"><a href="#">Organization overview</a></li>
            <li class="nav__item"><a href="#">Joining an organization</a></li>
            <li class="nav__item"><a href="#">Send an invitation</a></li>
            <li class="nav__item"><a href="#">Understand seat and role types</a></li>
            <li class="nav__item"><a href="#">Manage user permissions and access</a></li>
        </ul>
        <a class="nav__link" href="#">See all 11 articles</a>
    </div>
    <div class="item">
        <h2 class="item__title">Manage your teams</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Create and manage teams</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="item__title">Manage your projects</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Create a project</a></li>
            <li class="nav__item"><a href="#">Project permissions</a></li>
            <li class="nav__item"><a href="#">Organize your projects with sections</a></li>
            <li class="nav__item"><a href="#">Archive or delete a project</a></li>
            <li class="nav__item"><a href="#">Duplicate a project</a></li>
            <li class="nav__item"><a href="#">Transfer a project</a></li>
        </ul>
    </div>
</section>

<app-footer></app-footer>