<app-navbar></app-navbar>

<section class="top">
    <h1 class="top__title">Manage your account</h1>
    <p class="top__desc">
        Change subscriptions and payment details.
    </p>
</section>
<section class="list">
    <h2 class="list__title">Manage billing</h2>
    <ul class="list__nav">
        <li class="list__item"><a href="">Change your subscription</a></li>
        <li class="list__item"><a href="">Manage billing details</a></li>
        <li class="list__item"><a href="">View your billing details and invoices</a></li>
    </ul>
</section>

<app-footer></app-footer>
