<app-navbar></app-navbar>

<section class="search">
    <h1 class="search__title">How can we help?</h1>
    <input class="search__input" type="text" placeholder="Search">
</section>

<section class="list">
    <div class="item">
        <img class="item__img" src="../../assets/img/abstract.png" alt="Logo using abstract">
        <div class="group">
            <h2 class="group__title">Using Abstract</h2>
            <p class="group__param">
                Abstract lets you manage, version, and document your designs in one place.
            </p>
            <a class="group__link" [routerLink]="['/using-abstract']">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="item">
        <img class="item__img" src="../../assets/img/manage.png" alt="Logo manage account">
        <div class="group">
            <h2 class="group__title">Manage your account</h2>
            <p class="group__param">
                Configure your account settings, such as your email, profile details, and password.
            </p>
            <a class="group__link" [routerLink]="['/manage-account']">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="item">
        <img class="item__img" src="../../assets/img/organization.png" alt="Logo Manage organization">
        <div class="group">
            <h2 class="group__title">Manage organizations, teams, and projects</h2>
            <p class="group__param">
                Use Abstract organizations, teams, and projects to organize your people and your work.
            </p>
            <a class="group__link" [routerLink]="['/manage-organization']">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="item">
        <img class="item__img" src="../../assets/img/billing.png" alt="Logo billing">
        <div class="group">
            <h2 class="group__title">Manage billing</h2>
            <p class="group__param">
                Change subscriptions and payment details.
            </p>
            <a class="group__link" [routerLink]="['/manage-billing']">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="item">
        <img class="item__img" src="../../assets/img/authenticate.png" alt="Logo authenticate">
        <div class="group">
            <h2 class="group__title">Authenticate to Abstract</h2>
            <p class="group__param">
                Set up and configure SSO, SCIM, and Just-in-Time provisioning
            </p>
            <a class="group__link" [routerLink]="['/authenticate']">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="item">
        <img class="item__img" src="../../assets/img/support.png" alt="Logo support">
        <div class="group">
            <h2 class="group__title">Abstract support</h2>
            <p class="group__param">
                Get in touch with a human.
            </p>
            <a class="group__link" [routerLink]="['/support']">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>


<app-footer></app-footer>