<app-navbar></app-navbar>

<section>
    <h1>Manage your account</h1>
    <p>Configure your account settings, such as your email, profile details, and password.
    </p>
</section>
<section>
    <ul>
        <li><a href="">Change your email settings</a></li>
        <li><a href="">Change account settings</a></li>
        <li><a href="">Delete your account</a></li>
        <li><a href="">Troubleshooting login issues</a></li>
        <li><a href="">Domains officially associated with Abstract</a></li>
    </ul>
</section>

<app-footer></app-footer>