<app-navbar></app-navbar>
<section>
    <h1>Using Abstract</h1>
    <p>Abstract lets you manage, version, and document your designs in one place.</p>
</section>
<section>
    <div>
        <h2>Get started in Abstract</h2>
        <ul>
            <li><a href="#">Try out Abstract</a></li>
            <li><a href="#">The Abstract Design Workflow</a></li>
            <li><a href="#">Start Working In Abstract</a></li>
            <li><a href="#">Practice Abstract workflow</a></li>
            <li><a href="#">Glossary</a></li>
        </ul>
    </div>
    <div>
        <h2>Using the Abstract Desktop App</h2>
        <ul>
            <li><a href="#">Backup Abstract</a></li>
            <li><a href="#">System requirements</a></li>
            <li><a href="#">Downloading the Abstract Desktop Application</a></li>
            <li><a href="#">The Abstract plugin</a></li>
            <li><a href="#">Keyboard shortcuts</a></li>
            <li><a href="#">Dark mode</a></li>
        </ul>
        <a href="#">See all 12 articles</a>
    </div>
    <div>
        <h2>Working in Projects</h2>
        <ul>
            <li><a href="#">Name your project</a></li>
            <li><a href="#">Add files to your project</a></li>
            <li><a href="#">Create a branch</a></li>
            <li><a href="#">Open untracked vs. creating a branch</a></li>
            <li><a href="#">Change branch status</a></li>
            <li><a href="#">Rename a branch</a></li>
        </ul>
        <a href="#">See all 10 articles</a>
    </div>
    <div>
        <h2>Commit your work</h2>
        <ul>
            <li><a href="#">A guide to commits</a></li>
            <li><a href="#">Committing changes in a branch</a></li>
            <li><a href="#">Commit history</a></li>
            <li><a href="#">Troubleshoot your commits</a></li>
        </ul>
    </div>
    <div>
        <h2>Merge your work</h2>
        <ul>
            <li><a href="#">A guide to merging</a></li>
            <li><a href="#">Merging to the main branch</a></li>
            <li><a href="#">Resolve conflicts</a></li>
            <li><a href="#">Restore to previous commit</a></li>
            <li><a href="#">Merge restrictions</a></li>
        </ul>
    </div>
    <div>
        <h2>Work with libraries</h2>
        <ul>
            <li><a href="#">Libraries overview</a></li>
            <li><a href="#">Add a library</a></li>
            <li><a href="#">Link a library</a></li>
            <li><a href="#">Update a library</a></li>
            <li><a href="#">Work with dependencies</a></li>
            <li><a href="#">Manage your libraries</a></li>
        </ul>
    </div>
    <div>
        <h2>Collaborate in projects</h2>
        <ul>
            <li><a href="#">Share your designs</a></li>
            <li><a href="#">Request a design review</a></li>
            <li><a href="#">Use collections</a></li>
            <li><a href="#">Sections within collections</a></li>
            <li><a href="#">Leave comments and annotations</a></li>
            <li><a href="#">Assets</a></li>
        </ul>
        <a href="#">See all 8 articles</a>
    </div>
    <div>
        <h2>Troubleshooting Abstract</h2>
        <ul>
            <li><a href="#">General Troubleshooting</a></li>
            <li><a href="#">Troubleshoot sync errors</a></li>
            <li><a href="#">Resolve a pending commit</a></li>
            <li><a href="#">Resolve diverged branches</a></li>
            <li><a href="#">Previews and asset generation</a></li>
            <li><a href="#">Sync library components in Sketch</a></li>
        </ul>
        <a href="#">See all 11 articles</a>
    </div>
    <div>
        <h2>Abstract Best Practices</h2>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</section>
<app-footer></app-footer>
