<app-navbar></app-navbar>
<section class="top">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a [routerLink]="['/home']">Abstract</a></li>
         <li class="breadcrumbs__item bradcrumbs__item--active">Using Abstract</li>
    </ul>
    <h1 class="top__title">Using Abstract</h1>
    <p class="top__desc">Abstract lets you manage, version, and document your designs in one place.</p>
</section>
<section class="list">
    <div class="item">
        <h2 class="item__title">Get started in Abstract</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Try out Abstract</a></li>
            <li class="nav__item"><a href="#">The Abstract Design Workflow</a></li>
            <li class="nav__item"><a href="#">Start Working In Abstract</a></li>
            <li class="nav__item"><a href="#">Practice Abstract workflow</a></li>
            <li class="nav__item"><a href="#">Glossary</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="item__title">Using the Abstract Desktop App</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Backup Abstract</a></li>
            <li class="nav__item"><a href="#">System requirements</a></li>
            <li class="nav__item"><a href="#">Downloading the Abstract Desktop Application</a></li>
            <li class="nav__item"><a href="#">The Abstract plugin</a></li>
            <li class="nav__item"><a href="#">Keyboard shortcuts</a></li>
            <li class="nav__item"><a href="#">Dark mode</a></li>
        </ul>
        <a class="nav__link" href="#">See all 12 articles</a>
    </div>
    <div class="item">
        <h2 class="item__title">Working in Projects</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Name your project</a></li>
            <li class="nav__item"><a href="#">Add files to your project</a></li>
            <li class="nav__item"><a href="#">Create a branch</a></li>
            <li class="nav__item"><a href="#">Open untracked vs. creating a branch</a></li>
            <li class="nav__item"><a href="#">Change branch status</a></li>
            <li class="nav__item"><a href="#">Rename a branch</a></li>
        </ul>
        <a class="nav__link" href="#">See all 10 articles</a>
    </div>
    <div class="item">
        <h2 class="item__title">Commit your work</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">A guide to commits</a></li>
            <li class="nav__item"><a href="#">Committing changes in a branch</a></li>
            <li class="nav__item"><a href="#">Commit history</a></li>
            <li class="nav__item"><a href="#">Troubleshoot your commits</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="item__title">Merge your work</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">A guide to merging</a></li>
            <li class="nav__item"><a href="#">Merging to the main branch</a></li>
            <li class="nav__item"><a href="#">Resolve conflicts</a></li>
            <li class="nav__item"><a href="#">Restore to previous commit</a></li>
            <li class="nav__item"><a href="#">Merge restrictions</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="item__title">Work with libraries</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Libraries overview</a></li>
            <li class="nav__item"><a href="#">Add a library</a></li>
            <li class="nav__item"><a href="#">Link a library</a></li>
            <li class="nav__item"><a href="#">Update a library</a></li>
            <li class="nav__item"><a href="#">Work with dependencies</a></li>
            <li class="nav__item"><a href="#">Manage your libraries</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="item__title">Collaborate in projects</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">Share your designs</a></li>
            <li class="nav__item"><a href="#">Request a design review</a></li>
            <li class="nav__item"><a href="#">Use collections</a></li>
            <li class="nav__item"><a href="#">Sections within collections</a></li>
            <li class="nav__item"><a href="#">Leave comments and annotations</a></li>
            <li class="nav__item"><a href="#">Assets</a></li>
        </ul>
        <a class="nav__link" href="#">See all 8 articles</a>
    </div>
    <div class="item">
        <h2 class="item__title">Troubleshooting Abstract</h2>
        <ul class="nav">
            <li class="nav__item"><a href="#">General Troubleshooting</a></li>
            <li class="nav__item"><a href="#">Troubleshoot sync errors</a></li>
            <li class="nav__item"><a href="#">Resolve a pending commit</a></li>
            <li class="nav__item"><a href="#">Resolve diverged branches</a></li>
            <li class="nav__item"><a href="#">Previews and asset generation</a></li>
            <li class="nav__item"><a href="#">Sync library components in Sketch</a></li>
        </ul>
        <a class="nav__link" href="#">See all 11 articles</a>
    </div>
    <div class="item">
        <h2 class="item__title">Abstract Best Practices</h2>
        <div>
            <p class="nav__title">Main</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">Define the main branch</a></li>
            </ul>
        </div>
        <div>
            <p class="nav__title">Branching</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">Set up a new branch</a></li>
                <li class="nav__item"><a href="#">Working in a branch</a></li>
                <li class="nav__item"><a href="#">Prepare your branch for merging</a></li>
            </ul>
        </div>
        <div>
            <p class="nav__title">Committing</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">When to commit</a></li>
                <li class="nav__item"><a href="#">Committing — Part 2</a></li>
            </ul>
        </div>
        <div>
            <p class="nav__title">Merging</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">Update from the main branch before merging</a></li>
                <li class="nav__item"><a href="#">Resolve merge conflicts</a></li>
                <li class="nav__item"><a href="#">Clean up your branch before merging</a></li>
            </ul>
        </div>
        <div>
            <p class="nav__title">Design systems</p>
            <ul class="nav">
                <li class="nav__item"><a href="#">Libraries</a></li>
            </ul>
        </div>
    </div>
</section>
<app-footer></app-footer>
